@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');

body{
  background-color: #FFDEAD;
  font-family:Gupter;
  text-align:center;
  font-size: 200%;
  }
header{
  color: black;
  text-shadow: 5px 5px 3px brown;
}
section{
  background-color: #DEB887;
  width: 300px;
  margin: auto;
  border-radius: 30px;
  box-shadow: 5px 5px 5px brown;
}
footer{
    color: black;
    text-shadow: 5px 5px 3px  brown;
      }


